.current {
  display: flex;
  justify-content: space-evenly;
}

.current-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}
.current-image {
  width: 100%;
}

.current-image-container {
  max-width: 512px;
}

.current-table {
  text-align: center;
  min-width: 300px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.current-feels-text {
  grid-column-start: span 2;
}

@media screen and (max-width: 600px) {
  .current {
    padding: 0 2.5em;
    flex-direction: column;
  }
}
